services:
  movies-service:
    image: jaxx/movies-service:2025-11-21.1
    ports:
      - "7100:7100"
    restart: always
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
  movies-ui:
    image: jaxx/movies-ui:2025-11-30.1
    ports:
      - "3000:3000"
    volumes:
      - /home/jan/videodb-images/production/coverpics:/media/coverimages
    restart: always
    environment:
      - GRAPHQL_URL=${GRAPHQL_URL}
      - ALLOWED_USERS=${ALLOWED_USERS}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - GITHUB_ID=${GITHUB_ID}
      - GITHUB_SECRET=${GITHUB_SECRET}
      - APP_BASE_PATH=${APP_BASE_PATH}
      - GRAPHQL_PROXY_URL=${GRAPHQL_PROXY_URL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - movies-service

